body {
    background: url(./image/blended-families.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: blue;

  }
  body::after{
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(34, 24, 24, 0.5);
  }
