body{
    background-image: url(./image/Akan.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-color: yellow;
    opacity: 15;
  }
  p{
      float: left;
      text-align: center;
      text-decoration: tomato;
  }